.card-table{
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 5px;
}
.indiagraph_main{
    margin: 50px;
}
table th,td{
    padding: 0 3px;
}


.svg-map{
    width: 100%;
    height: 850px;
}
  

@media (max-width:768px) {
    .card-table{
        width: 0;
        height: 0;
        text-align: center;
    }
    .svg-map{
        width: 100%;
        height: 650px;
    }
}


@media (max-width:600px) {
    .card-table{
        width: 0;
        height: 0;
        text-align: center;
        line-height: 10px;
        padding: 2px;
    }
    .svg-map{
        width: 100%;
        height: 350px;
    }
    .myCard_data_content{
        font-size: 1.2vh;
    }
    .table_content{
        font-size: 1vh;
        padding: 2px;

    }
    .square{
        position: relative;
        padding: 2px;

    }
}
  .svg-map__location {
    fill: #1e1e30;
  }
  
  .svg-map__location:link {
    fill: rgb(53, 53, 104);
  }
  .svg-map__location:visited {
    fill: rgb(53, 53, 104);
  }
  
  .svg-map__location:hover {
    fill: rgb(53, 53, 104);
  }
  
  .svg-map__location:active {
    fill: rgb(53, 53, 104);
  }
  .svg-map__location:focus {
    fill: rgb(53, 53, 104);
  }
  
  .square{
    position: relative;
    padding: 10px;
  }
  
  
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  